@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid #000;
  background: green;
  padding: 10px;
}

.container .item {
  border: 2px solid #000;
  background-color: goldenrod;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 50px;/* 한줄 한개에 대한 내용 */
 /* grid-template에서 정의된 내용의 통제를 받지 않는 것들은 
    gird-auto에서 통제함(자주 쓰지는 않음) */
  grid-auto-columns: 1fr 2fr;
}

.item{}
.item:nth-child(1){grid-column: 2;/* 라인 2번부터 시작해서 1칸 차지*/}
.item:nth-child(2){grid-column: 3;/* 라인 3번부터 시작해서 1칸 차지*/}
.item:nth-child(3){grid-column: 4;/* 라인 4번부터 시작해서 1칸 차지*/}
.item:nth-child(4){grid-column: 5;/* 라인 5번부터 시작해서 1칸 차지*/}
.item:nth-child(5){grid-column: 6;/* 라인 6번부터 시작해서 1칸 차지*/}
.item:nth-child(6){grid-column: 7;/* 라인 7번부터 시작해서 1칸 차지*/}