@charset "UTF-8";
*{margin: 0; padding: 0; box-sizing: border-box;}

.container{border: 2px solid #000;
background-color: green;
}
.container .item{
    border: 2px solid #000;
    background-color: yellow;
}

.container{
    display: flex;
    /* flex-direction: row; flex-wrap: wrap; */
    flex-flow: row wrap ;
    height: 100vh;
    align-content: start;
    /* align-content:여러 줄로 구성된 flex 컨테이너 내의 행(row)의 정렬을 지정 */
    /* align-items:flex 컨테이너 내의 아이템들을 교차 축(cross-axis)에서 정렬 */
    /* flexbox는 주로 주 축(main axis)을 기반으로 아이템들을 배치하지만, align-items를 사용하여 교차 축에서의 정렬을 제어할 수 있음 */
}

/* 줄어들어라--> flex-shrink:1 늘어나지마라 flex-grow:0 */

.item{
/* flex:flex-grow flex-shrink flex-basis; */
/* flex:1 1 0; */}

.item{width: 30%;}

.item:nth-child(1){width: 100%;height: 150px;}
.item:nth-child(2){width: 200px; flex-shrink: 0; height: 500px;}
.item:nth-child(3){flex-grow: 1; height: 500px;}
.item:nth-child(4){width: 200px; flex-shrink: 0; height: 500px;}
/* 2,3,4중에 늘어나는 것은 3번뿐임(두번째 줄)*/
.item:nth-child(5){flex-grow: 1; width: 100%; height: 500px;}
/* 얘한테 늘어나라고 명령했을 때 자신의 줄에 있는 빈공간을 활용하여 넓어진 것(세번째 줄) */


@media (max-width:600px){.item:nth-child(4){flex-grow: 1;}}
/* 화면 너비가 600px 아래가 될 때는 4번이 늘어남 */




/* item은 stretch가 기본 */

/* 줄어드는데 자식의 범위를 침범하지 않게 만들어져있음(--> 무엇에 대한 필기였는지 기억이 안나서 chatgpt한테 질문하고 얻은 답변 ) 

// 1.부모 요소: 부모 요소가 flex 컨테이너일 수 있습니다. 
// 부모 요소는 자식 요소들의 크기를 조절하고, flex-shrink 속성을 사용하여 자식 요소들이 축소될 때 범위를 침범하지 않게 제어할 수 있음.

// 2.자식 요소: 주어는 자식 요소일 수도 있습니다. 
// 자식 요소는 자신의 크기를 조절하거나 부모의 설정에 따라 크기를 제한함으로써 범위를 침범하지 않게 만들어질 수 있음. */




