@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid #000;
  background: green;
  padding: 10px;
}

.container .item {
  border: 2px solid #000;
  background-color: goldenrod;
  padding: 10px;
}

.container {
  height: 80vh;
  display: grid;
  /*   grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minimax(100px, auto); */
  align-content: center;
  /* (부모의)높이에 대해서 정렬 */
  /* align-content--> container(부모)의 높이나 넓이가 자식의 총넓이나 높이보다 작을 때 정렬,(자식이 부모의 공간보다는 작아야 적용됨) */

  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  /* (부모의)넓이에 대해서 정렬 */

  /* place-content: align-content justify-content; */
  place-content: space-between center;/* (부모의)높이, (부모의)넓이에 대한 내용(정렬) */
}

.item {}